@model CPMS.Web.Models.Student

@{
    ViewData["Title"] = "College";
    // Since Students isn't a string, it requires a cast.
    var students = ViewData["Students"] as List<CPMS.Web.Models.Student>;
}

<h2>College Details</h2>

<div>
    <table id="Student" class="table table-striped table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GenderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < students.Count; i++)
            {
                <tr>
                    <td>
                        <img src="~/Images/plus.png" style="width:2em; height:3em;" />
                        <div style="display:none">
                            <table>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.CGPA)</td>
                                    <td></td>
                                    <td>:</td>
                                    <td></td>
                                    <td>@Html.DisplayFor(modelItem => @students[i].CGPA)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.NoofArrears)</td>
                                    <td></td>
                                    <td>:</td>
                                    <td></td>
                                    <td>@Html.DisplayFor(modelItem => @students[i].NoofArrears)</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td>@(i + 1)</td>
                    <td>
                        @Html.DisplayFor(modelItem => @students[i].FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @students[i].LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @students[i].GenderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @students[i].DepartmentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @students[i].Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @students[i].PhoneNumber)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Student').DataTable({
            "pagingType": "simple" // "simple" option for 'Previous' and 'Next' buttons only
        });
        $('.dataTables_length').addClass('bs-select');
    });
    $("#Student").on("click", "img[src*='plus.png']", function () {
        $(this).closest("tr").after("<tr><td></td><td colspan ='999'>" + $(this).next().html() + "</td></tr>");
        $(this).attr("src", "/images/minus.png");
    });
    $("#Student").on("click", "img[src*='minus.png']", function () {
        $(this).attr("src", "/images/plus.png");
        $(this).closest("tr").next().remove();
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}